body {
  background-color: rgb(29, 29, 29);
  font: 200 1.125em/1.5 Raleway;
  color: #ffffff;
}

.gameicn {
  position: relative;
  float: left;
  width: 32px;
  height: 32px;
  background-color: rgb(222, 222, 222);
}

.panel-1 {
  position: relative;
  float: left;
  z-index: 14;
  width: 100%;
  height: 595px;
  margin-top: 49px;
  background-color: rgb(222, 222, 222);
}

.panel-2 {
  position: relative;
  float: left;
  z-index: 0;
  width: 100%;
  height: 716px;
  background-color: rgb(55, 55, 55);
}

._text-4 p,
._text-5 p {
  margin-bottom: 2em;
}

._text {
  position: relative;
  float: left;
}

.gameicn-1 {
  z-index: 11;
  margin: -504px 0 0 12.53125%;
}

.gameicn-10 {
  z-index: 1;
  margin: -146px 0 0 53.28255%;
}

.gameicn-2 {
  z-index: 5;
  margin: -504px 0 0 53.28255%;
}

.gameicn-3 {
  z-index: 10;
  margin: -415px 0 0 12.53125%;
}

.gameicn-4 {
  z-index: 4;
  margin: -415px 0 0 53.28255%;
}

.gameicn-5 {
  z-index: 9;
  margin: -323px 0 0 12.53125%;
}

.gameicn-6 {
  z-index: 3;
  margin: -323px 0 0 53.28255%;
}

.gameicn-7 {
  z-index: 8;
  margin: -236px 0 0 12.53125%;
}

.gameicn-8 {
  z-index: 2;
  margin: -236px 0 0 53.28255%;
}

.gameicn-9 {
  z-index: 7;
  margin: -146px 0 0 12.53125%;
}

._text-1 {
  clear: both;
  z-index: 16;
  width: 80%;
  min-height: 80px;
  margin: -339px 0 0 10%;
  font-size: 2.444em;
  line-height: 1;
  text-align: center;
  color: #222222;
}

._text-2 {
  z-index: 15;
  width: 80%;
  min-height: 80px;
  margin: -259px 0 0 10%;
  font-size: 1.222em;
  font-weight: 500;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  color: #222222;
}

._text-3 {
  clear: both;
  z-index: 13;
  width: 80%;
  min-height: 28px;
  margin: -625px 0 0 10%;
  font-size: 1.833em;
  font-weight: 500;
  line-height: 1;
  text-align: center;
  color: #ffffff;
}

._text-4 {
  z-index: 12;
  width: 32.4166666666%;
  min-height: 28px;
  margin: -512px 0 0 16.83073%;
  padding: 3px;
  font-size: 1em;
  color: #ffffff;
}

._text-5 {
  z-index: 6;
  width: 32.4166666666%;
  min-height: 28px;
  margin: -512px 0 0 57.58203%;
  padding: 3px;
  font-size: 1em;
  color: #ffffff;
}

._text span {
  font-family: Roboto;
  font-size: 0.667em;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 3px;
}